<div class="login-container forgot-password-container">

  <h1>Forgot Password</h1>
  <p>Enter your details to reset your password.</p>

  <form (ngSubmit)="onSubmit($event)">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required [disabled]="isLoading" />

    <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required [disabled]="isLoading" />

    <button type="submit" class="primary" [disabled]="isLoading">
      {{ isLoading ? 'Resetting Password...' : 'Reset Password' }}
    </button>

    <div class="signup">
      Remember your account? <a routerLink="/sign-in">Sign in</a>
    </div>
  </form>


</div>

