<!-- register.component.html -->
<div class="login-container register-container">

  <h1>Join S.H.I.E.L.D.</h1>
  <p>Create an account to manage your digital portfolio.</p>

  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <input type="text" name="firstName" [(ngModel)]="firstName" placeholder="First Name" required />
      <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Last Name" required />
    </div>

    <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required />
    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required />
    <input type="password" name="password" [(ngModel)]="password" (ngModelChange)="onPasswordChange()" placeholder="Password" required />
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="onPasswordChange()" placeholder="Confirm Password" required />

    <div class="error-message" *ngIf="passwordMismatch">
      Passwords do not match
    </div>

    <div class="actions">
      <label><input type="checkbox" name="agreeToTerms" [(ngModel)]="agreeToTerms" required /> I agree to Terms</label>
    </div>

    <app-button label="Create Account" color="primary"></app-button>
    <p>OR CONTINUE WITH</p>
    <app-button label="Continue with Google" color="secondary"></app-button>

    <div class="signup">
      Already have an account? <a routerLink="/sign-in">Sign in</a>
    </div>
  </form>
  <div class="footer">PROTECTED BY FIDELITY INVESTMENTS CO.</div>

</div>
